[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;application/octet-stream;
Name=Open All Files
Actions=openAllFiles;
X-KDE-Priority=TopLevel

[Desktop Action openAllFiles]
Name=Open All Files
Icon=system-run
Exec=/usr/local/bin/open_files.sh %F
